{% extends "base.html" %}
<script>
	{% block jquery %}

		function priceUpdate(){
			price = $(".form-control option:selected").attr("data-val")
        	$("#price").text(price)

		}
		priceUpdate()
        $(".form-control").change(function(){
			priceUpdate()      	
        })
    {% endblock %}
</script>


{% block content %}
<div class='row'>

<div class='col-sm-8'>
<h2>{{ object.title }}</h2>

{% if object.productimage_set.count > 0 %}

<div>
{% for img in object.productimage_set.all %}
<img class='img-responsive' src='{{ img.image.url }}' />

{% endfor %}

</div>

{% endif %}
<p class='lead'>
{{ object.description }}
</p>
</div>


<!-- Product Sidebar -->
<div class='col-sm-4'>

<h3 id="price">{{ object.price }}</h3>
{% if object.variation_set.count > 1 %}
<select class='form-control control-option'>
{% for vari_obj in object.variation_set.all %}
<option  data-img="" data-val ="{{ vari_obj.price }}"" value="{{ vari_obj.id }}">{{ vari_obj.title }}</option>
{% endfor %}
</select>
{% endif %}
<br/>
<a href="#">Add to Cart</a>


<br/>
<hr/>
<h4>Related Products</h4>

</div>

<!-- End Product Sidebar -->




</div>



{% endblock %}